/* article.css */

/*****************************/
/*****************************/

.S_articleList .item{
	padding-bottom:15px;
}
.S_articleList .item h3{
	text-align:center;
	margin-bottom:0;
	padding:0 5px;
	font-size:16px;
	margin-top:25px;
}
.S_articleList .item h3 a{
	text-transform:uppercase;
	color:inherit;
	text-decoration:none;
	font-weight:bold;
	line-height:1.3;
}
.S_articleList .item h3 a:hover{
	color:#c18952;
}
.S_articleList .item .date{
	text-align:center;
	height:35px;
	line-height:35px;
	vertical-align:middle;
	position:relative;
	max-width:650px;
	margin:0 auto;
	margin-bottom:15px;
}
.S_articleList .item .date::before{
	content: "";
	display:block;
	height:1px;
	background:#000;
	position:absolute;
	margin-top:18px;
	width:100%;
	z-index:1;
}
.S_articleList .item .date > span{
	background:#FFF;
	position:relative;
	padding:0 15px;
	z-index:2;
}

.S_articleList .item .thumb{
	margin-bottom:5px;
	text-align:center;
	}
.S_articleList .item .intro p{
	margin:0;
	text-align:justify;
}
