/* theme.css */
/*****************************/
/*****************************/

/*
xanh: 3366ff
xanh la: 3366ff
cam: ff9b00
*/
.dbg{
	background:#3366ff;
}
.txtdcl{
	color:#3366ff;
}
.fulltext, .lookbookcontent .detail, .blogcontent .detail, .S_articleList{
	font-size:14pt;
}
.full-width{
	width:100%;
	clear:both;
}
.full-width::after{
	content: " ";
	display:table;
	clear:both;
}
.contactcontent td, .usercontent td{
	padding:5px;
}
.no-pad-r{padding-right:0;}
.b-productcat-menu, .b-productcat-menu .content ul.menu > li,
.b-newsletter .button, .b-voucher .title{
	background-color:#00a13a !important;
}
.upper{ text-transform:uppercase;}
td.label{color:inherit;}
#stl-top .logo img{
	margin:0 0 10px 0;
	max-width:100%;
	max-height:100%;
}
#stl-top .logo *{
	margin:0;
	padding:0;
}
#stl-top .blockhotline{
	background:url(../images/hotline.png) no-repeat left;
	padding-left:60px;
	font-size:20px;
	height:50px;
	line-height:50px;
	margin-top:10px;
}
#stl-top .top-right{
	text-align:right;
	margin-top:15px;
}
#stl-top .top-right .blocksocial{
	display:inline-block;
	font-size:12px;
}
#stl-top .top-right .blocklanguage{
	display:inline-block;
	margin-left:10px;
}
#stl-top .top-right .blockcart{
	margin-top:12px;
}
.navbar{
	min-height:30px;
	margin-bottom:0px;
}/*
.navbar-toggle{
	background:#333;
}
.navbar-toggle .icon-bar{
	background:#FFF;
}*/
.navbar .nav > li > a{
	text-transform:uppercase;
	font-size:18px;
	color:#333333;
	padding-top:15px;
	padding-bottom:20px;
	white-space:nowrap;
	
}
.navbar .nav > li.current > a{
	color:#4581c1;
}
/*slider*/
.slider a.more{
	color:#FFF;
	border:3px solid #d7d7d7;
	display:inline-block;
	font-size:28px;
	text-transform:uppercase;
	text-decoration:none;
	padding:7px 17px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #fff;
	position:absolute;
	bottom:15%;
	margin-left:50%;
	transform: translateX(-50%);
	white-space:nowrap;
}

.slider a.more:hover{
	color:#000;
	border-color:#000;
	background:#f2f2f2;
}
.slider .carousel-caption{
	top: 20px;
	left:10%;
	right: 10%;
	bottom:auto;
	
}
.slider .carousel-caption h2{
	font-weight:normal;
	font-size:45px;
}
.slider .carousel-caption h2 b{
	font-size:larger;
}
.effect_hover_image{position:relative;}
.effect_hover_image  img {width:100%;margin:0 auto;}
.effect_hover_image span.hover{position:absolute;display:block;width:0%;text-indent:-9999px;background:rgba(255, 255, 255, 0.5);width:0;height:0;background:rgba(255, 255, 255, 0.35);opacity:1;transition-duration:0;-moz-transition-duration:0;-webkit-transition-duration:0;}
.effect_hover_image:hover span.hover{width:100%;height:100%;opacity:0;transition-duration:1.3s;-moz-transition-duration:1.3s;-webkit-transition-duration:1.3s;}
.effect_hover_image  span.hover1{left:0;top:0;transition-delay:0;-moz-transition-delay:0;-webkit-transition-delay:0;}
.effect_hover_image  span.hover2{right:0;top:0;transition-delay:0;-moz-transition-delay:0;-webkit-transition-delay:0;}
.effect_hover_image  span.hover3{left:0;top:auto;bottom:0;transition-delay:0;-moz-transition-delay:0;-webkit-transition-delay:0;}
.effect_hover_image  span.hover4{right:0;top:auto;bottom:0;transition-delay:0;-moz-transition-delay:0;-webkit-transition-delay:0;}

.carousel-control.left .fa,
.carousel-control.right .fa{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
    height: 37px;
    line-height: 33px;
    padding-left: 2px;
    width: 40px;
}
.carousel-control.left .fa{	
    padding-left: 0px;
	left:0;
}
.carousel-control.right .fa{
	right:0;
}
.carousel-control {
    top: 0;
    width: 5%;
}
.carousel-control .fa, .carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 25px;
    height: 30px;
    margin-top: -15px;
    width: 30px;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .fa {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.blockslideshow .l-slider{
	float:left;
	width:75%;
}
.blockslideshow .r-banner{
	float:right;
	width:25%;
}

.blockslideshow .r-banner img{
	width:100%;
}
.blockslideshow .r-banner{
	padding-left:10px;
}
.blockslideshow .r-banner .item + .item{
	margin-top: 5px;
}

/*.blockslideshow .r-banner .item a::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 400ms ease 0s;
    z-index: 2;
}

.blockslideshow .r-banner .item a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.blockslideshow .r-banner .item a:hover::before {
    box-shadow: 0 1px 28px 5px #1e1e1e inset;
}*/
/* end slider */ 
.homebar-icons{
	clear:both;
	width:100%;
	margin:0;
	margin-top:15px;
	padding:0;
}
.homebar-icons .item{
	color:#FFF;
	font-size:9px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:5px;
}
.homebar-icons .item1{
	padding-left:0;
}
.homebar-icons .item4{
	padding-right:0;
}

.homebar-icons .item .i{
	padding:30px 2px 0px 85px;
	background-repeat:no-repeat;
	background-position:left;
	/*margin-top:15px;*/
	background-color:#337ab7;
	height:100px;
}
.homebar-icons .item1 .i{
	background-image:url(../images/icon-doihang.png);
}
.homebar-icons .item2 .i{
	background-image:url(../images/icon-warr.png);
}
.homebar-icons .item3 .i{
	background-image:url(../images/icon-giaohang.png);
}
.homebar-icons .item4 .i{
	background-image:url(../images/icon-support.png);
}

.blockgallery .b-title, .blockblogs .b-title, .blockgmap .b-title{
	font-size:28px;
	text-align:center;
	text-transform:uppercase;
	margin:35px 0 15px 0;
}
.blockgallery .b-content img, .blockblogs .b-content img{
	width:100%;
	transition: all 1s ease 0s;
}
.blockgallery .b-content a, .blockblogs .b-content a{
	text-align:center;
	min-height:180px;
	overflow:hidden;
	display:block;
}
.blockgallery .b-content img:hover, .blockblogs .b-content img:hover{
	transform: scale(1.2);
}
.blockgmap{
	clear:both;
}
.blockgmap .b-title{
	padding:0 0 15px 0;
	font-weight:bold;
	font-size:32px;
}
.block-4{
	padding-top:20px;
	font-size:15px;
	color:#666666;
}
.block-4 .b-title{
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	color:#333;
	padding-top:15px;
}
.block-4 .blocksocial{
}
.block-4 .blocksocial .col-sm-6{
	padding-right:0;
}
.block-4 .blocksocial .reg{padding-left:0;
}
.block-4 ul, #stl-bottom ul{
	list-style:none;
	margin:0;
	padding:0;
}
.block-4 a, #stl-bottom a{
	color:inherit;
}
.block-4 ul li, #stl-bottom ul li{
	margin:4px 0;
}
.block-4 .blocksocial p{
	margin:4px 0;
}
.block-5{
	/* background:#996533; */
	background:#337ab7;
	color:#FFF;
	padding-top:20px;
	padding-bottom:20px;
}
.block-5 .blocksocial p{
	margin:0;
	white-space:nowrap;
}
.block-5 .blocksocial img{
	margin-right:7px;
}
.block-5 .blocknewsletter{
	padding-left:0;
}
#stl-bottom .blockcontact strong{
	color:#FFF;
	font-weight:normal;
}
#stl-bottom .blockface iframe, .fb-like-box, .fb-like-box > span{
	max-width:100% !important;
}
.blockbtbanner {
	margin-top:35px;
	clear:both;
}
.blockbtbanner:after{
	content:" ";
	display:table;
	clear:both;
	height:1px;
}
.blockbtbanner .item{
	float:left;
	width:33.333%;
	padding:0 2px;
}
.blockbtbanner .item a{
	width:100%;
}
.blockbtbanner .item img{
	width:100% !important;
}
.loginform p{
	margin:10px 0;
}
.loginform input.us, .loginform input.pw{
	height:32px;
	background-image:url(../images/user-login.jpg);
	background-position:left 0;
	background-repeat:no-repeat;
	padding-left:45px;
}
.loginform input.us{
}
.loginform input.pw{
	background-position:0 -30px;
}
.loginform a{
	color:inherit;
	font-size:13px;
	font-style:italic;
}
.loginform .rem{
	font-size:13px;
	color:#666;
	font-style:italic;
}
.blockstores .b-title{
	font-size:19px;
	font-weight:bold;
	margin:25px 0;
	text-transform:uppercase;
	text-align:center;
}
.blockstores a{color:inherit; font-size:13px;}
.newslettercontent table tr td{
	padding:5px;
}

.reseller-list ul{
	list-style:none;
	margin:0;
	padding:0;
}
.reseller-list > ul > li{
	margin:5px 0;
}
.reseller-list > ul > li > a{
	display:block;
	padding:7px 5px 7px 15px;
	text-decoration:none;
	cursor:pointer;
	color:inherit;
	background:#f2f2f2 url(../images/arrow-01.png) no-repeat right;
}
.reseller-list > ul > li > a:hover{
	background-color:#CCC;
}
.reseller-list  ul ul{
	display:none;
}
.reseller-list  ul  li li{
	padding-left:25px;
	margin:10px 0;
}
.reseller-list  ul  li li a{
	color:inherit;
	font-weight:bold;
}
.reseller-list  ul  li li .addr{
}
/* menu */
.resellercontent .modheading{
	border-top:1px solid #ccc;
	border-bottom:none;
	padding-top:25px;
	margin-top:0;
}
.reseller-menu {
	width:330px;
	margin:0 auto;
	padding-bottom:10px;
}
.reseller-menu h3{
	background:#f2f2f2 url(../images/arrow-02.png) no-repeat right;
	padding:7px 35px 7px 15px;
	text-align:center;
	display:block;
	font-size:17px;
	cursor:pointer;
	text-transform:uppercase;
	color:#C03;
}
.menu-reseller-list{
	background:#FFF;
	width:100%;
	padding:15px;
	border:1px solid #CCC;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
	text-align:left;
	display:none;
	position:absolute;
	z-index:3;
	left:0;
}
.menu-reseller-list .t{
	font-weight:bold;
}
.menu-reseller-list ul{
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:15px;
}
.menu-reseller-list ul li {
	margin:7px 0;
	line-height:1.1;
}
.menu-reseller-list ul li a{
	font-size:13px;
	color:inherit;
}
.loadmorelinks > span, .loadmorelinks a{
	display:none;
}
.loadmorelinks .load-more-btn{
	display:block;
	background:#000;
	color:#FFF;
	text-align:center;
	padding:10px 0;
	border-radius: 5px;
	text-transform:uppercase;
	text-decoration:none;
	border:1px solid #000;
}
.loadmorelinks .load-more-btn:hover{
	background:#FFF;
	color:#000;
	border:1px solid #000;
}
@media (min-width: 1024px) {
	.navbar{
		border:none;
		box-shadow: 0 0 0;
		border-radius: 0;
		background:none;
		float:right;
	}
	#stl-top .logo{
		padding-right:0;
	}
	#stl-top .top{
		padding-right:0;
	}

}

@media (max-width: 1024px) {
	.productList .item .bt-item{
		padding-left:0 !important;
		padding-right:0 !important;
	}
}

@media (max-width: 980px) {
	#stl-top .logo{
		text-align:center;
	}
	#stl-top .logo img{
		max-height:55px;
	}
	.homebar-icons{
	}
	.homebar-icons .item1{
		padding-left:10px;
	}
	.homebar-icons .item4{
		padding-right:10px;
	}
}

@media (max-width: 640px) {
	#stl-top .blockhotline{
		display:none;
	}
	#stl-top .top-right{
		text-align:center;
		margin-top:2px;
	}
	#stl-top .top-right .blockcart{
		margin-top:2px;
	}
	.blockslideshow .l-slider{
		float:none;
		width:100%;
	}
	.blockslideshow .r-banner{
		float:none;
		width:100%;
		display:none;
	}
	.slider .carousel-caption h2{
		font-size:smaller;
	}
	.navbar{
		margin-left:10px;
		margin-right:10px;
		margin-top:10px;
		margin-bottom:10px;
	}
	.slider a.more{
		font-size:17px;
	}
}